/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 979px) {

	.header {
		position: absolute;
	}

	.menu {
		margin: 10px auto;
		padding-right: 0px;
		text-align: center;
	}

	.menu ul li {
		margin: 10px 5px 5px 5px;

	}

	.header-menu-redes {
		display: none;
	}

	.header-menu-redes-sobre {
		display: none;
	}

	.introducao {
		width: 100%;
		height: auto;
		background-size: cover;
		margin-top: 0px;
		text-align: center;
		padding-top: 540px;
	}

	.valores {
		margin-top: -20px;
	}

	.valores-lista li {
		width: 235px;
		margin-bottom: 30px;
		border-radius: 5px;
	}

	.conceitos:after {
		content: "";
		width: 500px;
	}

	.conceitos:after {
		content: "";
		width: 652px;
		height: 33px;
		display: block;
		background: url("../img/linhas-grade.png") no-repeat center;
		position: absolute;
		top: 275px;
		right: 155px;
	}

	.titulo-projeto {
		margin-top: -195px;
		text-align: center;
	}

	.call-projeto {
		margin-top: 105px;
		margin-left: 600px;
		margin-bottom: 70px;
	}

	.conceitos:after {
		background: url("../img/linhas-grade-mobile.png") no-repeat center;
		right: 60px;
	}

	.depoimentos-quadro {
		height: 300px;
		margin-bottom: 40px;
		border-radius: 5px;
		padding: 10px;
		line-height: 20px;
		margin-bottom: 40px;
	}

	.doador {
		margin-left: 150px;
		padding: 0 0px 50px 0px;
	}

	.cadastro {
		margin-left: 150px;
		padding: 0 0px 30px 0px;
	}

	.footer-redes img {
		width: 27px;
		height: 27px;
	}

	.copy img {
		width: 55px;
		margin-left: 698px;
		margin-top: -21px;
	}

}

/* Smartphone */
@media only screen and (max-width: 787px) {

	.header {
		position: relative;
		padding-bottom: 0;
		background: none;
	}

	.header img {
		margin: 0 auto 5px auto;
	}

	label[for="bt-menu"] {
		display: block;
	}

	#bt-menu:checked~* #escondivel {
		margin-bottom: 0;
	}

	.menu {
		position: fixed;
		width: 100%;
		height: auto;
		left: -0px;
		bottom: 100px;
		padding-bottom: 20px;
		text-align: center;
		margin-bottom: -100%;
		transition: all .4s;
		background-color: #ffffffE6;
	}

	.menu a:hover {
		padding: 20px;
		color: #fff;
		background-color: #fbc412;
		font-weight: bold;

	}

	.menu ul li {
		width: 100%;
		float: none;
	}

	.menu ul ul {
		position: static;
		overflow: hidden;
		max-height: 0;
		transition: all .4s;
	}

	.logo {
		width: 250px;
	}

	.header-menu-redes {
		float: right;
		margin-top: -150px;
		margin-right: -90px;
	}

	.header-menu-redes ul li {
		display: block;
	}

	.header-menu-redes-sobre {
		display: none;
		float: right;
		margin-top: -150px;
		margin-right: -90px;
	}

	.header-menu-redes-sobre ul li {
		display: block;
	}

	#facebook {
		padding: 2px;
		margin-bottom: -25px;
	}

	#instagram {
		padding: 2px;
		margin-bottom: -25px;
	}

	#twitter {
		padding: 2px;
		margin-bottom: -28px;
	}

	#youtube {
		width: 40px;

	}

	.header-menu-redes ul li a img {
		width: 35px;
		height: 35px;
	}

	.introducao {
		width: 100%;
		height: auto;
		background-size: cover;
		margin-top: -220px;
		text-align: center;
		padding-top: 540px;
	}

	.faixa-azul-intro {
		width: 100%;
		height: 100%;
		background: #12203ad9;
		padding-bottom: 50px;
		margin-top: -60px;

	}

	.valores {
		margin: -20px auto 30px auto;

	}

	.valores-lista li {
		margin-bottom: 20px;
		border-radius: 5px;
	}

	.titulo-projeto {
		margin-top: 10px;
		font-size: 18px;
		font-weight: bold;
	}

	.call-projeto {
		margin-top: 40px;
		margin-left: 80px;
		margin-bottom: 50px;
	}

	.slide-projeto img {
		display: flex;
	}

	.conceitos img {
		margin-bottom: 40px;
	}

	.conceitos:after {
		content: "";
		background: no-repeat center;
		position: absolute;
	}

	.conceitos img {
		display: none;
	}

	.doador {
		margin-left: -80px;
		padding: 0 80px 50px 80px;
	}

	.cadastro {
		margin-left: -80px;
		padding: 0 80px 30px 80px;
	}

	.parceiros {
		display: block;
		background: #12203a;
		height: 470px;
		text-align: center;
	}

	.parceiros img {
		width: 80%;
		margin-left: 30px;
	}

	.footer-redes img {
		width: 27px;
		height: 27px;
	}

	.copy img {
		width: 55px;
		margin-left: 112px;
		margin-top: -41px;
	}

	/*Sobre*/

	.btn-inicio {
		display: block;
		margin-bottom: -6px;
	}

	.introducao-sobre {
		margin-top: -150px;
	}

	.faixa-azul-intro-outros h1 {
		margin-top: -22px;
	}

	.foto-equipe {
		display: block;
		width: 10px;
	}


}